*{
    padding: 0;
    margin: 0;
}

.parentCard{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.textH1{
    color: aqua;
    background: #850080;
    font-size: 40px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
    padding: 30px;
}

.card{
    background: #04d7f3;
    color: black;
    padding: 20px;
    box-shadow: 5px 3px 10px black; 
    border-radius: 15px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40px;
}

.someStyle{
    line-height: 24px;
}

.plus_button{
    padding: 10px 20px;
    margin: 40px 60px; 
    background: #000;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 22px;
}

.parent{
    background: #0aac1d;
}

#main_div{
    margin: 70px 200px;
}

#main_div h1{
    margin-bottom: 40px;
}

#form_id div{
    margin-bottom: 20px;
}